node_name = "{{ host_name }}"
datacenter = "{{ datacenter }}"
data_dir = "{{ data_dir }}"
server = yes
retry_join = ["{{ server_ip }}"]
client_addr = "{{ client_ip }}"
retry_join = "{{ server_ip }}"
advertise_addr = "{{ server_ip }}"
bootstrap = "{{ bootstrap }}"
#bootstrap_expect = "{{ bootstrap_expect }}"

log_level = "info"
log_file = "{{ log-fle-path }}"
log_rotate_duration = "{{ log_rotate_duration }}"
log_rotate_max_files = "{{ log_rotate_max_files }}"

ui_config{
  enabled = "{{ ui_config }}"
}

acl {
  enabled = "{{ enabled }}"
  default_policy = "{{ acl_allow }}"
  enable_token_persistence = "{{ token_persistence }}"
}
performance {
  raft_multiplier = "{{ raft }}"
}
connect {
  enabled = "{{ enabled }}"
}

addresses {
  grpc = "{{ grpc }}"
}
