[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation={{ consul_docs }}
Requires={{ requires }}
After={{ after }}
ConditionFileNotEmpty={{ config_dir }}/

[Service]
EnvironmentFile=-{{ env_file }}
User={{ consul_user_name }}
Group={{ consul_group_name }}
ExecStart={{ ExecStart }}
ExecReload={{ ExecReload }}
KillMode={{ KillMode }}
KillSignal={{ KillSignal }}
Restart={{ Restart }}
LimitNOFILE={{ set_limit_no_file }}

[Install]
WantedBy={{ WantedBy }}
